* {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

.picture-blurb-container {
    display: flex;
    margin-right: 50px;
}

#picture {
    width: 50%;
    margin: auto;
    border-radius: 5px;
    border: black solid 2px;
}

#blurb {
    letter-spacing: 2px;
    line-height: 30px;
    margin-left: 10px
}